header{
    background-color: #808D87;
    padding: 20px 4rem;
}
header a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.left a{
    font-size: 23px;
}
.right a{
    margin-left: 20px;
}